@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

@layer components {
  .features {
    @apply flex items-center justify-center gap-6 flex-wrap;
    @apply relative max-w-[1280px] mx-auto;
  }

  .feature-card {
    @apply w-[380px] max-w-[380px] lg:h-[380px] bg-[#F4F4F4] rounded-3xl;
    @apply border-l border-transparent duration-200 whitespace-pre-line text-center;
    @apply flex flex-col items-center justify-start gap-8 py-10 px-8 lg:px-12;
  }

  .menu-hover-desktop:hover ul{
    display: flex;
  }
  .menu-divide::after{
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    opacity: 12%;
  }
  .container-oscar{
    width: 91.666667%;
    max-width: 1300px;
    margin: 0 auto;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  
  .scroll-menu{
    scrollbar-width: unset;
  }
  .scroll-menu::-webkit-scrollbar {
    width: 2px;
    height: 8px;
    background-color: #fff;
    display: block !important;
  }
  .scroll-menu::-webkit-scrollbar-thumb {
    background-color: #9b1111;
    border-radius: 20px;
  }
  .scrollbar-none::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  .border-right:last-child .child{
    padding-right: 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
  }
  .hover-bag:hover svg{
    color: #fff;
  }
  .bottomUnset{
    bottom: unset;
  }
  .containerSection section{
    width: 100%;
    height: 100%;
  }
  .paddingLeftUnset p{
    padding-left: 0 !important;
  }
  .uxWritingHref a{
    cursor: pointer;
    text-decoration: underline;
    font-weight: 600;
  }
  #connectlyai_widget_container{
    z-index: 10 !important;
  }
}
@keyframes sliding {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-50%);
  }
}
.animate-slide{
  animation: sliding 15s linear infinite;
}

.animate-slide:hover{
  animation-play-state: paused;
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

.grid-cols-auto-1{
  grid-template-columns: auto 1fr;
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}

.collapse-plus > .filters.collapse-title:after{
  top: 22px;
}

[data-range-slider] {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px 40px;
  width: fit-content;
}

.range-slider {
  width: calc(100% - 10px);
  position: relative;

  display: flex;
  align-items: center;
}

.range-slider .range-bar {
  width: 100%;
  height: 3px;
  background: #CCC;
  border-radius: 5px;
  position: relative;
}

.range-slider .range-bar .range-fill {
  height: 100%;
  background: #9D0B0D;
  position: absolute;
  left: 0;
  right: 0;
}

.range-slider .knob {
  width: 15px;
  height: 15px;
  border-radius: 100px;
  position: absolute;
  cursor: pointer;
}

.range-slider .knob.left {
  left: 0px;
  transform: translateX(-7.5px);
}

.range-slider .knob.right {
  right: 0px;
  transform: translateX(7.5px);
}

.text-container {
  width: 100%; /* ou defina uma largura específica */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.categorySEO.collapse:not(.collapse-close):has(> input[type="checkbox"]:checked){
  height: auto;
}

.background-gradient-primary{
  background: linear-gradient(180deg, #E4002B 0%, #9D0B0D 100%);
}

.background-shadow-right{
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
}

.background-shadow-left{
  background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}

#tam-PP{
  order: 1;
}

#tam-P{
  order: 2;
}

#tam-M{
  order: 3;
}

#tam-G{
  order: 4;
}

#tam-GG{
  order: 5;
}

#tam-XG{
  order: 6;
}